<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathildekerhom.pokemon"
    android:versionCode="1"
    android:versionName="@string/app_version"
    android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:label="@string/app_name"
        android:name=".PokemonApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typepokemon.TypePokemonCreateActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.mathildekerhom.pokemon.TypePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typepokemon.TypePokemonEditActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.mathildekerhom.pokemon.TypePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typepokemon.TypePokemonShowActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/com.mathildekerhom.pokemon.TypePokemon" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.typepokemon.TypePokemonListActivity"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.collection/com.mathildekerhom.pokemon.TypePokemon" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.mathildekerhom.pokemon.provider.PokemonProvider"
            android:authorities="com.mathildekerhom.pokemon.provider"
            android:label="@string/app_provider_name"
            android:description="@string/app_provider_description"
            android:exported="false" />
    </application>
</manifest>
